* {
    color: white;
    margin: 2rem;
}

mat-card {
    margin: 2rem 0;
}

mat-card-content {
    margin: 0 0.5rem;
}

mat-card-header {
    margin: 0;
}

.car-card {
    background-color: rgb(37, 37, 37);
}